.w-screen {
    width: 100%;
}
<<<<<<< HEAD
=======


.rojo {
    color: rgb(225, 49, 49);
    font-size: 70%
  
  }
  
.negro {
    color: rgb(65, 64, 64);
    font-size: 120%;
    text-align: center;
}
    
>>>>>>> eed17afb049406b7c5faf1acd9932e78f934f5f0
